<a href="https://colab.research.google.com/github/velesslavVMS/3808_TeamGit/blob/vms/Hometask10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head(21)

   whoAmI
0   robot
1   human
2   robot
3   robot
4   robot
5   robot
6   human
7   human
8   human
9   human
10  robot
11  human
12  human
13  robot
14  human
15  human
16  robot
17  robot
18  human
19  robot

In [9]:
data.loc[data['whoAmI']== 'robot', 'number'] = '0'
data.loc[data['whoAmI']== 'human', 'number'] = '1'
data.columns
data[['number']]

   number
0       0
1       1
2       0
3       0
4       0
5       0
6       1
7       1
8       1
9       1
10      0
11      1
12      1
13      0
14      1
15      1
16      0
17      0
18      1
19      0